@using WebSiteBanSach.Models;
@model List<NhaXuatBan>
@{
    ViewBag.Title = "DanhMucNhaXuatBan";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@foreach (var item in Model)
{
    <a id="btnChuDe" style="width: 250px; font-size: 11pt; color: aliceblue; background-color:#026105; text-decoration: none" href="@Url.Action("SachTheoNXB", new {MaNXB=item.MaNXB })" class="button button-submit"> @item.TenNXB</a>
    <br />
    <br />
}

